<mat-grid-list cols="7" rowHeight="4em" gutterSize="5">

  <mat-grid-tile *ngFor="let type of types"><a [routerLink]="['/products/', type.type]">{{type.type}}</a></mat-grid-tile>

</mat-grid-list>

<!--<mat-grid-list cols="8" rowHeight="4em" gutterSize="5">-->
<!--  <mat-grid-tile><a routerLink="/homepage">Logo</a></mat-grid-tile>-->
<!--  <mat-grid-tile><a routerLink="/homepage">WELCOME</a></mat-grid-tile>-->
<!--  <mat-grid-tile><a routerLink="products/boat">Rent Boat</a></mat-grid-tile>-->
<!--  <mat-grid-tile><a routerLink="products/atv">Rent All Terrain Vehicle</a></mat-grid-tile>-->
<!--  <mat-grid-tile><a routerLink="products/rv">Rent Recreational Vehicle</a></mat-grid-tile>-->
<!--  <mat-grid-tile><a routerLink="products/tour">-->
<!--    <div>Guided Tours<br>Boat Charters</div></a>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile><a routerLink="/contacts">Contact us</a></mat-grid-tile>-->
<!--  <mat-grid-tile><a routerLink="/login">-->
<!--    <div>Sign In<br>Sign Up</div></a>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
