<button mat-raised-button class="button" (click)="onHome()">HOME PAGE</button>

<div class="container">
  <h3 class="margin-1-em">GENERATE REPORT</h3>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
    <div fxFlex="50%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>SELECT TYPE</mat-label>
        <mat-select>
          <mat-option *ngFor="let subType of types" [value]="subType?.type" >
            {{subType?.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50%">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

</div>
