<button class="margin-02-em" mat-raised-button (click)="onBack()">BACK</button>
<div>
  {{pageTitle + ': ' + product?.brand + ' ' + product?.model}}
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
    <div fxFlex="50%">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" style="margin-bottom: 5em !important;">
        <div fxFlex="50%">
          <img src="{{product?.image}}" class="image-detail-page">
        </div>
        <div fxFlex="50%">SPECIFICATIONS:
          <table>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr><td>Type of Boat</td><td> {{product?.subType}} </td></tr>
              <tr><td>Make</td><td> {{product?.brand}} </td></tr>
              <tr><td>Model</td><td> {{product?.model}} </td></tr>
              <tr><td>Year</td><td> {{product?.year}} </td></tr>
              <tr><td>Lenth, ft</td><td> {{product?.length}} </td></tr>
              <tr><td>Weight, lb</td><td> {{product?.weight}} </td></tr>
              <tr><td>Price per hour, $</td><td> {{product?.pricePerHour | currency:'USD':'symbol':'1.2-2'}} </td></tr>
              <tr><td>Price per day, $</td><td> {{product?.pricePerDay | currency:'USD':'symbol':'1.2-2'}} </td></tr>
              <tr><td>People Capacity</td><td> {{product?.peopleCapacity}} </td></tr>
              <tr><td>Active</td><td><mat-checkbox [(ngModel)]="active" [disabled]="true"></mat-checkbox></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div fxFlex="50%">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
        <div fxFlex="50%">Availability Calendar
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
          </mat-card>
          <p>Selected date: {{selected}}</p>
        </div>
        <div fxFlex="50%">Book/Reserve
          <button class="margin-02-em" mat-raised-button (click)="onBack()">BOOK/RESERVE</button>
        </div>
      </div>
    </div>
  </div>
</div>
