<button class="margin-02-em" mat-raised-button (click)="onBack()">BACK</button>

<div class="container">
  <h2 class="margin-1-em">Add new {{product?.type}} </h2>

  <form [formGroup]="editItem" >
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
      <div fxFlex="10%">
        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>ID</mat-label>
              <input matInput formControlName="ID" value="{{product?.id}}">
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-checkbox name="active" type="boolean" formControlName="active" class="form-field">Active</mat-checkbox>
          </div>
        </div>
      </div>
      <div fxFlex="30%">
        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">

          <div fxFlex="33%">
            <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>{{product?.subType}}</mat-label>
                  <mat-select formControlName="subType">
                    <mat-option *ngFor="let subType of subTypes" [value]="subType?.value" >
                      {{subType?.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Year</mat-label>
                  <input matInput formControlName="year" value="{{product?.year}}">
                </mat-form-field>
              </div>

              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Price per hour, $</mat-label>
                  <input matInput formControlName="pricePerHour" value="{{product?.pricePerHour}}">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxFlex="33%">
            <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>{{product?.brand}}</mat-label>
                  <mat-select formControlName="brand">
                    <mat-option *ngFor="let brand of brands" [value]="brand?.value" >
                      {{brand?.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Length, Ft</mat-label>
                  <input matInput formControlName="length" value="{{product?.length}}">
                </mat-form-field>
              </div>
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Price per hour, $</mat-label>
                  <input matInput formControlName="pricePerDay" value="{{product?.pricePerDay}}">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxFlex="33%">
            <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>{{product?.model}}</mat-label>
                  <mat-select formControlName="model">
                    <mat-option *ngFor="let model of models" [value]="model?.value" >
                      {{model?.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Weight, Lb</mat-label>
                  <input matInput formControlName="weight" value="{{product?.weight}}">
                </mat-form-field>
              </div>
              <div fxFlex="33%">
                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>People Capacity</mat-label>
                  <input matInput formControlName="peopleCapacity" value="{{product?.peopleCapacity}}">
                </mat-form-field>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div fxFlex="50%">

        <a href="{{productUrl}}/item/" target="_blank">Add Image for this {{product?.type}}</a>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Image</mat-label>
          <input matInput formControlName="image" value="{{product?.image}}">
        </mat-form-field>

      </div>

      <div fxFlex="10%">
        <button mat-raised-button class="button" type="submit" (click)="onSubmit()">SAVE</button>
        <button mat-raised-button class="button" (click)="clearForm()">CLEAR FORM</button>
        <button mat-raised-button class="button" (click)="onBack()">BACK</button>
      </div>
    </div>

  </form>

</div>








<!--<div>-->
<!--  {{pageTitle + ': ' + product?.brand + ' ' + product?.model}}-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">-->
<!--    <div fxFlex="50%">-->
<!--      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px" style="margin-bottom: 5em !important;">-->
<!--        <div fxFlex="50%">-->
<!--          <img src="{{product?.image}}" class="image-detail-page">-->
<!--        </div>-->
<!--        <div fxFlex="50%">SPECIFICATIONS:-->
<!--          <table>-->
<!--            <thead>-->
<!--              <th></th>-->
<!--              <th></th>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              <tr><td>Type of Boat</td><td> {{product?.subType}} </td></tr>-->
<!--              <tr><td>Make</td><td> {{product?.brand}} </td></tr>-->
<!--              <tr><td>Model</td><td> {{product?.model}} </td></tr>-->
<!--              <tr><td>Year</td><td> {{product?.year}} </td></tr>-->
<!--              <tr><td>Lenth, ft</td><td> {{product?.length}} </td></tr>-->
<!--              <tr><td>Weight, lb</td><td> {{product?.weight}} </td></tr>-->
<!--              <tr><td>Price per hour, $</td><td> {{product?.pricePerHour | currency:'USD':'symbol':'1.2-2'}} </td></tr>-->
<!--              <tr><td>Price per day, $</td><td> {{product?.pricePerDay | currency:'USD':'symbol':'1.2-2'}} </td></tr>-->
<!--              <tr><td>People Capacity</td><td> {{product?.peopleCapacity}} </td></tr>-->
<!--              <tr><td>Active</td><td><mat-checkbox [(ngModel)]="active" [disabled]="true"></mat-checkbox></td></tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div fxFlex="50%">-->
<!--      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">-->
<!--        <div fxFlex="50%">Availability Calendar-->
<!--          <mat-card class="demo-inline-calendar-card">-->
<!--            <mat-calendar [(selected)]="selected"></mat-calendar>-->
<!--          </mat-card>-->
<!--          <p>Selected date: {{selected}}</p>-->
<!--        </div>-->
<!--        <div fxFlex="50%">Book/Reserve-->
<!--          <button class="margin-02-em" mat-raised-button (click)="onBack()">BOOK/RESERVE</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
