<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
  <div fxFlex="10%">left side bar

  </div>
  <div fxFlex="80%" style="margin-bottom: 4em !important;">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
      <div fxFlex="50%">
        <mat-label class="margin-02-em">Search and Filter</mat-label>
        <input class="margin-02-em" type="text" matInput placeholder="Ex. Yamaha"
                [(ngModel)]="listFilter">
        <button class="margin-02-em" mat-raised-button (click)="performFilterSorted(this.listFilter)">Apply Filter</button>
      </div>
      <div fxFlex="38%">
        <h3 class="margin-02-em" style="color: grey !important;">Filtered By: {{listFilter}}</h3>
      </div>
      <div fxFlex="12%" style="alignment: right !important;">
        <div style="alignment: right !important;">
          <button class="margin-02-em" mat-raised-button (click)="addNewItem()">Add new boat</button>
        </div>
      </div>
    </div>

    <table mat-table [dataSource]="sortedData" class="mat-elevation-z8"  matSort (matSortChange)="sortData($event)">

      <ng-container matColumnDef="unitId">
        <th mat-header-cell *matHeaderCellDef> id | uppercase </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="subType">
        <th mat-header-cell *matHeaderCellDef> Type of Boat </th>
        <td mat-cell *matCellDef="let element"> {{element.subType}} </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="year"> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="length"> Length, ft </th>
        <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.length}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="weight"> Weight, lb </th>
        <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerHour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="pricePerHour"> Price Per Hour </th>
        <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.pricePerHour | currency:'USD':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerDay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="pricePerDay"> Price Per Day </th>
        <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.pricePerDay | currency:'USD':'symbol':'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="peopleCapacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="peopleCapacity"> People Capacity </th>
        <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.peopleCapacity}} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> image </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/products', element.id]" >
          <img src={{element.image}} [title]='element.brand + " " + element.model'
               class="image-in-table" />
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="active"> Active </th>
        <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.active}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div fxFlex="10%">right side bar

  </div>
</div>



