/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
  border: solid 1px darkblue !important;
  height: 2em !important;
  min-width: 100px;
  max-width: 500px;
  width: 30% !important;
}

table {
  width: 100%;
}

td.mat-mdc-cell{
  background-color: lightgrey !important;
  color: dimgray;
  border: dimgray;
}

a{
  margin: 0.2em !important;
  text-align: center !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator{
  margin-bottom: 5em !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.margin-02-em{
  margin: 0.2em !important;
}

.margin-1-em{
  margin: 1em !important;
}

.image-in-table{
  max-height:100px !important;
  margin: 0.1em !important;
}

.image-detail-page{
  max-width: 70% !important;
}

.demo-inline-calendar-card {
  width: 300px;
}

.button {
  background-color: lightblue !important;
  margin: 0.5em
}

.form-field {
  display: flex !important;
  margin: 0.1em
}


