/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0 0 4em 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
  border: solid 1px darkblue !important;
  height: 2em !important;
  min-width: 100px;
  max-width: 500px;
  width: 30% !important;
}

table {
  width: 100%;
}

td.mat-cell{
  background-color: lightgrey !important;
  color: dimgray;
  border: dimgray;
}

a{
  margin: 0.2em !important;
  text-align: center !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.margin-02-em{
  margin: 0.2em !important;
}

.image-in-table{
  max-height:100px !important;
  margin: 0.1em !important;
}

